.carousel-item {
  background-image: url(../img/reunion2.jpg);
  min-height: 50vh;
  background-position: center;
  background-size: cover;
}

.carousel__item--background-img2 {
  background-image: url(../img/reunion.jpg);
}

.carousel__item--background-img3 {
  background-image: url(../img/trabajando.jpg);
}
