* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
}

$red: red;
$bigfont: 10rem;
$mediumfont: 5rem;
$smallfont: 1rem;
$fullheight: 100vh;
$fullwidth: 100%;

.h2__torcido {
  color: #ffffff;
  font-size: $bigfont;
  text-transform: uppercase;
  transform: rotate(-5deg);
  font-weight: 700;
}

.h2__torcido--rojo {
  color: $red;
}

.h2__torcido--contra {
  transform: rotate(4deg);
}

.texto-normal {
  font-size: 2rem;
  font-weight: 600;
}

.texto-grande {
  font-size: 3rem;
  font-weight: 500;
}

.texto-grande__negrita {
  font-size: 3rem;
  font-weight: 800;
}

.texto-negro {
  color: rgb(173, 10, 10);
}

.texto-borde {
  -webkit-text-stroke: 1px rgb(158, 25, 25);
  color: rgb(206, 20, 20);
}
