* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
}

$red: red;
$bigfont: 10rem;
$mediumfont: 5rem;
$smallfont: 1rem;
$fullheight: 100vh;
$fullwidth: 100%;

.h2__torcido {
  color: #ffffff;
  font-size: $bigfont;
  text-transform: uppercase;
  transform: rotate(-5deg);
  font-weight: 700;
}

.h3__torcido {
  color: #ffffff;
  font-size: $mediumfont;
  text-transform: uppercase;
  transform: rotate(-5deg);
  font-weight: 700;
}

.h4__torcido {
  color: #ffffff;
  font-size: 2rem;
  text-transform: uppercase;
  transform: rotate(-5deg);
  font-weight: 700;
}

.p__torcido {
  color: #ffffff;
  font-size: 1.5rem;
  text-transform: uppercase;
  transform: rotate(-5deg);
  font-weight: 700;
}

.h2__torcido--rojo {
  color: $red;
}

.h2__torcido--contra {
  transform: rotate(4deg);
}

.texto-normal {
  font-size: 2rem;
  font-weight: 600;
}

.texto-grande {
  font-size: 3rem;
  font-weight: 500;
}

.texto-muygrande {
  font-size: 5rem;
  font-weight: 800;
}

.texto-negrita {
  font-weight: 800;
}

.texto-negro {
  color: rgb(0, 0, 0);
}

.texto-borde {
  -webkit-text-stroke: 1px rgb(158, 25, 25);
  color: rgb(206, 20, 20);
}

.sombra {
  box-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.sombra-texto {
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.mayus {
  text-transform: uppercase;
}

.zoom {
  transition: transform 0.2s;
}

.zoom:hover {
  transform: scale(1.1);
}

.blanco {
  color: white;
}
