@media (max-width: 1400px) {
  .section3-inicio__img {
    flex-direction: column;
  }
}

@media (max-width: 992px) {
  .h2__torcido {
    font-size: $mediumfont;
  }

  .section1-inicio {
    height: 60vh;
    display: flex;

    align-items: center;
  }

  .section1-inicio__container {
    height: 50vh;
    flex-direction: column;
  }

  .section1-inicio__somos-cobra {
    height: 40vh;
  }

  .section1-inicio__somos {
    font-size: 3rem;
  }

  .section1-inicio__cobra {
    font-size: 9rem;
    font-weight: 800;
  }

  .section1-inicio__contbra {
    font-size: 2rem;
  }

  .section1-inicio__texto {
    width: 100%;
    font-size: 2rem;
  }

  .section3-inicio__texto {
    width: 90%;
  }

  .section1-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
  }

  .section1-contacto__formulario {
    width: 70%;
  }

  .texto-normal {
    font-size: 1.5rem;
    font-weight: 700;
  }

  .h3__torcido {
    font-size: 2.5rem;
  }

  .serv1__txt {
    li {
      font-size: 1.5rem;
    }
  }

  .texto-muygrande {
    font-size: 4rem;
    font-weight: 800;
  }
}

@media (max-width: 550px) {
  .navbar-brand img {
    width: 100px;
  }

  .section1-inicio {
    height: 60vh;
  }

  .section1-inicio__cobra {
    font-size: 7rem;
    font-weight: 800;
  }

  .section1-inicio__texto {
    width: 80%;
    font-size: 1.5rem;
  }

  .h3__torcido {
    font-size: 2rem;
  }

  .serv1__tabla {
    tr {
      width: 100%;
      padding: 15px;
      margin: 5px;
      align-content: center;
    }
    td {
      width: 90%;
    }
    li {
      font-size: 1rem;
    }
  }
}
