$authors: "ana", "guille", "laura";
@each $author in $authors {
  .photo-#{$author} {
    background-color: slategrey;
    width: 100%;
    height: 50vh;
    opacity: 0.9;
    display: flex;
    border-radius: 100px;
  }
}

$authors: "ana", "guille", "laura";
@each $author in $authors {
  .photo-#{$author}:hover {
    opacity: 1;
    transition: 1s;
    background: url("../img/#{$author}.jpg") no-repeat center;
  }
}

.nosotros__txt {
  width: 100%;
  text-align: center;
  padding: 30px;
}

.section1-nosotros__fundadores {
  width: 100%;
  align-items: center;
}

.section-bannerNosotros {
  display: flex;
  height: 100vh;
  width: 100%;
  background-image: url(../img/fondo4.jpg);
  background-position: center;
  background-size: cover;
  align-items: center;
  text-align: center;
}
