$authors: "ana", "guille", "laura";
@each $author in $authors {
  .photo-#{$author} {
    background-color: rgb(255, 255, 255);
    width: 40%;
    height: 20vh;
    opacity: 0.9;
    display: flex;
  }

  .photo-#{$author}:hover {
    opacity: 1;
    transition: 1s;
    background: url("../img/#{$author}.jpg") no-repeat;
    height: 50vh;
    object-fit: cover;
    object-fit: contain;
  }
}

.nosotros__txt {
  width: 100%;
  text-align: center;
  padding: 30px;
}

.section1-nosotros__fundadores {
  height: 60vh;
  width: 100%;
  align-items: center;
}

.section-bannerNosotros {
  display: flex;
  height: 100vh;
  width: 100%;
  background-image: url(../img/fondo4.jpg);
  background-position: center;
  background-size: cover;
  align-items: center;
  text-align: center;
}
