.section-bannerServicios {
  display: flex;
  height: 100vh;
  width: 100%;
  background-image: url(../img/fondo3.jpg);
  align-items: center;
  text-align: center;
  background-position: center;
  background-size: cover;
}

.section1-servicios {
  height: 100vh;
  width: 100%;
}

.serv1 {
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
}

.serv1__palabras {
  width: 60%;
  height: 30vh;
  font-size: 6rem;
  font-weight: 700;
  color: white;
  padding: 30px;
  text-align: left;
}

.serv1__boton {
  margin: 50px;
  font-size: 6rem;
  text-align: left;
}

.serv1__boton button {
  font-size: 2rem;
}

.serv1__container {
  width: 80%;
  height: 70vh;
}

.btn {
  border-radius: 90px;
  border: 2px solid white;
}
