.section-bannerServicios {
  display: flex;
  height: 100vh;
  width: 100%;
  background-image: url(../img/fondo3.jpg);
  align-items: center;
  text-align: center;
}

.section1-servicios {
  height: 100vh;
  width: 100%;
}
