.section-bannerServicios {
  display: flex;
  height: 100vh;
  width: 100%;
  background-image: url(../img/fondo3.jpg);
  align-items: center;
  text-align: center;
  background-position: center;
  background-size: cover;
}

.section1-servicios {
  height: 100vh;
  width: 100%;
}

.serv1 {
  width: 100%;
  height: 70vh;
  background-color: black;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.serv1__palabras {
  width: 100%;
  height: 30vh;
  font-size: 6rem;
  font-weight: 700;
  color: white;
  padding: 30px;
  text-align: left;
}

.serv1__boton {
  margin: 50px;
  font-size: 6rem;
  text-align: left;
}

.serv1__boton button {
  font-size: 2rem;
}

.serv1__container {
  width: 90%;
  height: 70vh;
  justify-content: space-evenly;
}

.serv2 {
  width: 100%;
  height: 80vh;
  background-color: rgb(27, 27, 27);
  flex-direction: column;
  align-items: center;
}

.serv2__palabras {
  width: 100%;
  height: 30vh;
  font-size: 6rem;
  font-weight: 700;
  color: white;
  padding: 30px;
  text-align: right;
}

.serv2__boton {
  margin: 50px;
  font-size: 6rem;
  text-align: right;
}

.serv2__boton button {
  font-size: 2rem;
}

.serv2__container {
  width: 90%;
  height: 80vh;
  justify-content: space-evenly;
}

.btn {
  border-radius: 90px;
  border: 2px solid white;
}

.serv3 {
  width: 100%;
  height: 70vh;
  background-color: black;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.serv3__palabras {
  width: 100%;
  height: 30vh;
  font-size: 6rem;
  font-weight: 700;
  color: white;
  padding: 30px;
  text-align: left;
}

.serv3__boton {
  margin: 50px;
  font-size: 6rem;
  text-align: left;
}

.serv3__boton button {
  font-size: 2rem;
}

.serv3__container {
  width: 90%;
  height: 70vh;
  justify-content: space-evenly;
}
